#home {
  /* width: 100%;
  height: 100%; */
  display: flex;
}


body {
  overflow-x: hidden;
}
.lefthome {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.righthome {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.righthome img {
  width: 40%;
  filter: drop-shadow(2px 2px 20px rgb(116, 201, 225));
  border-radius: 100px;
  justify-items: center;
}

.homedetails {
  font-size: 2vmax;
}

.line1 {
  font-size: 1.5rem;
}

.line2 {
  font-size: 2.8rem;
  background: linear-gradient(to right, rgb(145, 245, 145), white);
  background-clip: text;
  color: transparent;
}

.line3 {
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
  overflow: hidden;
}

.homedetails button {
  padding: 10px 30px;
  background-color: rgb(66, 180, 205);
  color: black;
  border: 2px solid rgb(66, 180, 205);
  margin-top: 30px;
  border-radius: 20px;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.2s;
}

.homedetails button:hover {
  background-color: transparent;
  color: rgb(66, 180, 205);
}

@media (max-width: 750px) {
  #home {
    flex-direction: column-reverse;
  }
  .lefthome {
    width: 100%;
    height: 50vh;
  }
  .righthome {
    width: 100%;
    height: 50vh;
    align-items: end;
  }

  .righthome {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .righthome img {
    width: 60%;
    filter: drop-shadow(2px 2px 20px rgb(116, 201, 225));
    border-radius: 100px;
    justify-items: center;
  }
}
@media (max-width: 2560px) {
  .righthome img {
    width: 40%;
    filter: drop-shadow(2px 2px 20px rgb(116, 201, 225));
    border-radius: 400px;
    justify-items: center;
    align-items: center;
  }
}